/* transport manegement.html*/
.place{
	position: relative;
	text-align: center;
	font-size: 25px;
	color: black;
}
.top-center{
	position : absolute;
	top: 15%;
	left:50%;
	transform: translate(-50%, -50%);
}
.place .btn1{
	position : absolute;
	top:40%;
	left:35%;
	transform: translate(-50%, -50%);
	font-size:30px;
	text-align:center;
	padding: 12px 24px;
	background-color: #F0F8FF
}
.place .btn2{
	position : absolute;
	top:40%;
	left:65%;
	transform: translate(-50%, -50%);
	font-size:30px;
	text-align:center;
	padding: 12px 24px;
	background-color: #F0F8FF
}
.place .btn1:hover{
	background-color: Lightgray;
}
.place .btn2:hover{
	background-color: Lightgray;
}
/* transport management*/
/* Admin login page.html*/
.class{
	text-align:center;
	background-color:#00FFFF;
	margin:50px 500px;
	padding: 40px 24px;
	font-size: 30px;
}
input[type=text],select{
	width: 100%;
  	padding: 12px 20px;
  	margin: 8px 0;
  	display: inline-block;
 	 border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}

input[type=password],select{
	width: 100%;
  	padding: 12px 20px;
  	margin: 15px 0;
  	display: inline-block;
 	 border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
}
.b{
  background-color: #4CAF50;
  color: white;
  padding:20px;
  border: none;
  margin: 10px;
  border-radius: 4px;
  text-align:center;
  cursor: pointer;
}

.b:hover {
  background-color: #45a049;
}
.order{
  float: 33%;
}

.look{
  border-radius: 5px;
  margin:50px 500px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Admin login page*/
/* create package.html*/
input[type=file],select{
    width: 100%;
        padding: 12px 20px;
        margin: 15px 0;
    
  }
  
  .look1{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 40px;
  }
  label {
    padding: 25px 12px 12px 0;
    display: inline-block;
  }
  
  .space{
      margin-right: 30%;
  }
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
}
/*create package*/
